@import 'utility/fonts';

body {
    margin: 0;
}

#ozonMars2Top,
#ozonMars2Bottom {
    @import 'utility/vars';

    max-width: 1416px;
    margin: 0 auto;
    line-height: 40px;
    color: #fff;
    font-size: 16px;
    background: #a5244d;

    @media (max-width: $desktop - 1) {
        font-size: (100/95) + vw;
    }

    @media (max-width: $tablet) {
        font-size: (100/64) + vw;
    }

    @media (max-width: $mobile) {
        font-size: (100/20) + vw;
    }

    .bottom-wrapper {
        height: em(2519);
        background-image: url('/public/images/bottomBg.jpg');
        background-size: cover;
        background-repeat: no-repeat;

        @media (max-width: $tablet) {
            height: em(1890);
        }

        @media (max-width: $mobile) {
            height: em(860);
            background-size: contain;
        }
    }

    @import 'utility/reset';
    @import 'utility/common';
    @import 'ui/ui';
    @import 'blanks/blanks';
    @import 'sections/sections';
}
