.btn {
    display: inline-block;
    background: #f1a24a;
    border-radius: em(148, 32);
    padding: em(17, 32) em(40, 32);
    font-weight: 700;
    font-size: em(32);
    line-height: em(37, 32);
    text-transform: uppercase;
    text-decoration: none;
    border: em(4) solid #f1a24a;
    color: #fff;
    box-sizing: border-box;
    transition: 0.3s linear;
    font-family: $font;

    &:hover {
        background: #fff;
        color: #f1a24a;
    }

    @media (max-width: $tablet) {
        font-size: em(24);
        line-height: em(28, 24);
        padding: em(15, 24) em(49, 24);
        border: em(3) solid #f1a24a;
    }
}

.icon {
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    margin: 0 auto;

    &_1 {
        height: em(120);
        width: em(44);
        background-image: url('/public/images/rules/icons/step1.png');

        @media (max-width: $tablet) {
            width: em(22);
            height: em(61);
        }
    }

    &_2 {
        height: em(123);
        width: em(90);
        background-image: url('/public/images/rules/icons/step2.png');

        @media (max-width: $tablet) {
            width: em(49);
            height: em(68);
        }
    }
}

.swiper-container {
    padding-bottom: em(53);

    .swiper-pagination {
        position: absolute;
        bottom: 0;

        &-bullet {
            width: em(24);
            height: em(24);
            border: em(3) solid #f1a24a;
            box-sizing: border-box;
            background: #a5244d;
            opacity: 1;
            margin: 0 em(8);

            &-active {
                background: #f1a24a;
            }
        }
    }

    .swiper-button {
        width: em(80);
        height: em(80);
        background-color: #f1a24a;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 50%;
        background-size: em(20) em(40);
        margin-top: em(-57);

        &::after {
            display: none;
        }

        &-prev {
            left: em(40);
            background-image: url('/public/images/winners/arrowLeft.svg');
        }

        &-next {
            right: em(40);
            background-image: url('/public/images/winners/arrowRight.svg');
        }
    }
}
