.btn {
    display: inline-block;
    background: #f1a24a;
    border-radius: em(148, 32);
    padding: em(17, 32) em(40, 32);
    font-weight: 700;
    font-size: em(32);
    line-height: em(37, 32);
    text-transform: uppercase;
    text-decoration: none;
    border: em(4) solid #f1a24a;
    color: #fff;
    box-sizing: border-box;
    transition: 0.3s linear;

    &:hover {
        background: #fff;
        color: #f1a24a;
    }
}

.icon {
    background-repeat: no-repeat;
    background-size: cover;
    height: 120px;
    display: block;
    margin: 0 auto;

    &_1 {
        width: 44px;
        background-image: url('/public/images/rules/icons/step1.png');
    }

    &_2 {
        width: 90px;
        background-image: url('/public/images/rules/icons/step2.png');
    }
}
