section.gifts
    .gifts__container
        .gifts__wrapper
            img.gifts__image(src="", alt="")
            .gifts__title Угощения <br> к столу
        .gifts__wrapper
            img.gifts__image(src="", alt="")
            .gifts__title Подарки <br> для любимых
        .gifts__wrapper
            img.gifts__image(src="", alt="")
            .gifts__title Радость <br> для себя
        .gifts__wrapper
            img.gifts__image(src="", alt="")
            .gifts__title Официальные <br> подарки
            
    
    a.btn(href="#" target="_blank") Подготовка к праздникам