section.gifts
    .gifts__container
        .gifts__wrapper
            .gifts__img-container.gifts__img-container_1
                img.gifts__img(src="public/images/gifts/snickers.jpg")
            .gifts__title Угощения <br> к столу
        .gifts__wrapper
            .gifts__img-container.gifts__img-container_2
                img.gifts__img(src="public/images/gifts/korkunov1.jpg")
            .gifts__title.gifts__title_yellow Подарки <br> для любимых
        .gifts__wrapper
            .gifts__img-container.gifts__img-container_3
                img.gifts__img(src="public/images/gifts/dove.jpg")
            .gifts__title Радость <br> для себя
        .gifts__wrapper
            .gifts__img-container.gifts__img-container_4
                img.gifts__img(src="public/images/gifts/korkunov2.jpg")
            .gifts__title.gifts__title_yellow Официальные <br> подарки
            
    .gifts__btn-container
        a.btn(href="#" target="_blank") Подготовка к праздникам