section.rules
    .rules__wrapper
        .rules__column
            span.icon.icon_1.rules__icon
            .rules__title Покупай 
            .rules__text на сумму от 500 рублей <br> продукты – участники акции
        .rules__column.rules__column_card
            img.rules__img(src="public/images/rules/ozonCard.jpg", alt="Ozon")
        .rules__column
            span.icon.icon_2.rules__icon
            .rules__title участвуй 
            .rules__text в розыгрыше сертификатов <br> для шоппинга на OZON 
    .rules__logos
        img.rules__logo.rules__logo_five(src="public/images/rules/logos/five.png", alt="Five")
        img.rules__logo.rules__logo_dove(src="public/images/rules/logos/dove.png", alt="Dove")
        img.rules__logo.rules__logo_snickers(src="public/images/rules/logos/snickers.png", alt="Snickers")
        img.rules__logo.rules__logo_twix(src="public/images/rules/logos/twix.png", alt="Twix")
        img.rules__logo.rules__logo_mMs(src="public/images/rules/logos/m&Ms.png", alt="M&Ms")
        img.rules__logo.rules__logo_skittles(src="public/images/rules/logos/skittles.png", alt="Skittles")
        img.rules__logo.rules__logo_korkunov(src="public/images/rules/logos/korkunov.png", alt="Коркунов")
        img.rules__logo.rules__logo_orbit(src="public/images/rules/logos/orbit.png", alt="Orbit")
        img.rules__logo.rules__logo_beKind(src="public/images/rules/logos/beKind.png", alt="Be Kind")
    .rules__btn-container
        a.btn(href="#" target="_blank") правила акции
        