section.videos
        .videos__btn-container  
                a.btn(href="#" target="_blank") посмотреть все товары
        <iframe class="videos__video" src="https://www.youtube.com/embed/NffK_3g3DDw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>       
        <iframe class="videos__video" src="https://www.youtube.com/embed/NffK_3g3DDw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>       
        