section.winners
    .swiper-container.winners__slider
        .swiper-wrapper
            .swiper-slide
                .winners__slide-wrapper
                    .winners__slide-text позже здесь<br>появятся результаты<br>розыгрыша
            .swiper-slide
                .winners__slide-wrapper
                    .winners__slide-text позже здесь<br>появятся результаты<br>розыгрыша
            .swiper-slide
                .winners__slide-wrapper
                    .winners__slide-text позже здесь<br>появятся результаты<br>розыгрыша
        .swiper-pagination
        .swiper-button.swiper-button-prev
        .swiper-button.swiper-button-next