.banner {
    height: em(737);
    background-image: url('/public/images/bannerBackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    @media (max-width: $tablet) {
        height: em(534);
    }

    @media (max-width: $mobile) {
        height: em(344);
        background-size: contain;
    }

    &__wrapper {
        width: em(642);
        height: em(449);
        font-family: $font;
        font-weight: 700;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-55%, -52%);
        background: #fff;
        border-radius: 50%;
        line-height: em(56);
        padding-top: em(108);
        box-sizing: border-box;

        @media (max-width: $tablet) {
            height: em(356);
            width: em(508);
            line-height: em(46);
            padding-top: em(86);
            left: 53%;
            top: 51%;
        }

        @media (max-width: $mobile) {
            height: em(178);
            width: em(256);
            line-height: em(23);
            padding-top: em(41);
            left: 53%;
            top: 71%;
        }
    }

    &__text {
        text-align: center;
        text-transform: uppercase;
        font-size: em(48);

        @media (max-width: $tablet) {
            font-size: em(40);
        }

        @media (max-width: $mobile) {
            font-size: em(18);
        }

        &_yellow {
            color: #f1a24a;
            margin-bottom: em(8, 48);
        }

        &_red {
            color: #a5244d;
        }
    }
}
