.footer {
    padding: em(20) em(40) em(80);
    font-weight: 500;
    font-size: em(24);
    line-height: em(28, 24);
    text-align: center;
    font-family: $font;
    color: #333;
    background: #fff;

    @media (max-width: $tablet) {
        padding: em(20) em(40) em(40);
        font-size: em(18);
        line-height: em(21, 18);
    }

    @media (max-width: $mobile) {
        padding: em(20) em(21) em(22);
        font-size: em(14);
        line-height: em(16, 14);
    }
}
