.gifts {
    background: #a5244d;
    font-family: $font;
    padding-bottom: em(80);

    &__container {
        display: flex;
        margin-bottom: em(80);

        @media (max-width: $tablet) {
            margin-bottom: em(40);
        }

        @media (max-width: $mobile) {
            flex-wrap: wrap;
        }
    }

    &__link {
        width: 25%;
        text-decoration: none;
        color: #fff;

        &:hover .gifts__img {
            opacity: 1;
        }

        @media (max-width: $mobile) {
            width: 100%;
        }
    }

    &__title {
        font-weight: 700;
        font-size: em(32);
        line-height: em(39, 32);
        text-align: center;
        text-transform: uppercase;
        background: #e5004e;
        padding: em(23, 32) 0 em(19, 32);

        @media (max-width: $tablet) {
            font-size: em(18);
            line-height: em(18, 18);
        }

        @media (max-width: $mobile) {
            font-size: em(16);
            line-height: em(18, 16);
            padding: em(25, 16) 0 em(28, 16);
        }

        &_yellow {
            background: #f1a24a;
        }
    }

    &__img-container {
        background-size: 100% 100%;
        background-repeat: no-repeat;
        height: em(400);

        @media (max-width: $tablet) {
            height: em(285);
        }

        @media (max-width: $mobile) {
            height: em(328);
            background-size: cover;
        }

        &_1 {
            background-image: url('/public/images/gifts/img1.jpg');
        }

        &_2 {
            background-image: url('/public/images/gifts/img2.png');
        }

        &_3 {
            background-image: url('/public/images/gifts/img3.jpg');
        }

        &_4 {
            background-image: url('/public/images/gifts/img4.jpg');
        }
    }

    &__img {
        opacity: 0;
        transition: 0.2s linear;
        width: 100%;
        height: 100%;
    }

    &__btn-container {
        text-align: center;
    }
}
