.rules {
    background: #a5244d;
    padding-top: em(65);
    font-family: $font;
    height: em(764);

    &__container {
        width: em(1336);
        margin: 0 auto;
    }

    &__wrapper {
        display: flex;
        margin-bottom: em(64);
        justify-content: space-between;
    }

    &__column {
        min-width: em(438);
        text-align: center;
        margin-top: em(35);

        &_card {
            margin-top: em(52);
            margin-left: em(15);
        }
    }

    &__img {
        width: em(307);
        height: em(191);
        border-radius: em(23);
        margin-top: em(45);
    }

    &__title {
        font-weight: 700;
        font-size: em(40);
        line-height: em(46);
        text-align: center;
        text-transform: uppercase;
        color: #f1a24a;
        margin-top: em(20);
        margin-bottom: em(11);
    }

    &__text {
        font-size: em(32);
        font-weight: 700;
        line-height: em(40);
    }

    &__logos {
        width: 100%;
        margin-bottom: em(81);
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    &__logo {
        &_five {
            width: em(31);
            height: em(79);
        }

        &_dove {
            width: em(127);
            height: em(49);
        }

        &_snickers {
            width: em(165);
            height: em(39);
        }

        &_twix {
            width: em(160);
            height: em(79);
        }

        &_mMs {
            width: em(147);
            height: em(73);
        }

        &_skittles {
            width: em(149);
            height: em(109);
        }

        &_korkunov {
            width: em(213);
            height: em(78);
        }

        &_orbit {
            width: em(160);
            height: em(79);
        }

        &_beKind {
            width: em(112);
            height: em(79);
        }
    }

    &__btn-container {
        text-align: center;
    }
}
