.rules {
    background: #a5244d;
    font-family: $font;
    padding: em(65) em(40) em(80);

    &__wrapper {
        display: flex;
        margin-bottom: em(64);
        justify-content: space-between;
        padding-top: em(17);
    }

    &__column {
        min-width: em(438);
        text-align: center;
    }

    &__img {
        width: em(307);
        height: em(191);
        border-radius: em(23);
        margin-top: em(63);
    }

    &__title {
        font-weight: 700;
        font-size: em(40);
        line-height: em(46, 40);
        text-align: center;
        text-transform: uppercase;
        color: #f1a24a;
        margin-top: em(20, 40);
        margin-bottom: em(11, 40);
    }

    &__text {
        line-height: em(40, 32);
        font-size: em(32);
        font-weight: 700;
    }

    &__logos {
        width: 100%;
        margin-bottom: em(64);
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        box-sizing: border-box;
    }

    &__logo {
        &_five {
            width: em(31);
            height: em(79);
        }

        &_dove {
            width: em(127);
            padding-left: em(13);
        }

        &_snickers {
            width: em(165);
            padding-left: em(29);
        }

        &_twix {
            width: em(160);
            padding-left: em(15);
        }

        &_mMs {
            width: em(147);
            padding-left: em(15);
        }

        &_skittles {
            width: em(149);
        }

        &_korkunov {
            width: em(213);
        }

        &_orbit {
            width: em(160);
        }

        &_beKind {
            width: em(112);
        }
    }

    &__btn-container {
        text-align: center;
    }
}
