.rules {
    background: #a5244d;
    font-family: $font;
    padding: em(65) em(40) em(80);

    @media (max-width: $tablet) {
        padding: em(40) em(63) em(40);
    }

    @media (max-width: $mobile) {
        padding: em(48) em(20) em(34);
    }

    &__wrapper {
        display: flex;
        margin-bottom: em(64);
        justify-content: space-between;
        padding-top: em(17);

        @media (max-width: $tablet) {
            padding-top: 0;
            margin-bottom: em(40);
        }

        @media (max-width: $mobile) {
            padding-top: 0;
            margin-bottom: em(22);
            flex-wrap: wrap;
        }
    }

    &__column {
        min-width: em(438);
        text-align: center;

        @media (max-width: $tablet) {
            min-width: auto;
        }

        @media (max-width: $mobile) {
            margin: 0 auto;
        }

        &_card {
            @media (max-width: $mobile) {
                margin-bottom: em(18);
            }
        }
    }

    &__img {
        width: em(307);
        height: em(191);
        border-radius: em(23);
        margin-top: em(63);

        @media (max-width: $tablet) {
            width: em(175);
            height: em(109);
            margin-top: em(27);
        }

        @media (max-width: $mobile) {
            width: em(137);
            height: em(85);
        }
    }

    &__title {
        font-weight: 700;
        font-size: em(40);
        line-height: em(46, 40);
        text-align: center;
        text-transform: uppercase;
        color: #f1a24a;
        margin-top: em(20, 40);
        margin-bottom: em(11, 40);

        @media (max-width: $tablet) {
            font-size: em(24);
            line-height: em(28, 24);
        }

        @media (max-width: $mobile) {
            line-height: em(21, 18);
            font-size: em(18);
            margin-top: em(18, 18);
            margin-bottom: em(5, 18);
        }
    }

    &__text {
        line-height: em(40, 32);
        font-size: em(32);
        font-weight: 700;

        @media (max-width: $tablet) {
            line-height: em(28, 24);
            font-size: em(24);
        }

        @media (max-width: $mobile) {
            line-height: em(19, 16);
            font-size: em(16);
        }
    }

    &__logos {
        width: 100%;
        margin-bottom: em(64);
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        box-sizing: border-box;

        @media (max-width: $tablet) {
            margin-bottom: em(40);
        }

        @media (max-width: $mobile) {
            margin-bottom: em(43);
            flex-wrap: wrap;
        }
    }

    &__logo {
        &_five {
            width: em(31);

            @media (max-width: $tablet) {
                width: em(22);
            }

            @media (max-width: $mobile) {
                width: em(19);
                margin-left: em(91);
            }
        }

        &_dove {
            width: em(127);
            padding-left: em(13);

            @media (max-width: $tablet) {
                width: em(90);
            }

            @media (max-width: $mobile) {
                width: em(55);
                margin-right: em(94);
            }
        }

        &_snickers {
            width: em(165);
            padding-left: em(29);

            @media (max-width: $tablet) {
                width: em(117);
            }

            @media (max-width: $mobile) {
                width: em(71);
                padding-left: 0;
            }
        }

        &_twix {
            width: em(160);
            padding-left: em(15);

            @media (max-width: $tablet) {
                width: em(114);
            }

            @media (max-width: $mobile) {
                width: em(70);
                padding-left: 0;
            }
        }

        &_mMs {
            width: em(147);
            padding-left: em(15);

            @media (max-width: $tablet) {
                width: em(104);
            }

            @media (max-width: $mobile) {
                width: em(65);
                padding-left: 0;
            }
        }

        &_skittles {
            width: em(149);

            @media (max-width: $tablet) {
                width: em(106);
            }

            @media (max-width: $mobile) {
                width: em(63);
            }
        }

        &_korkunov {
            width: em(213);

            @media (max-width: $tablet) {
                width: em(150);
            }

            @media (max-width: $mobile) {
                width: em(114);
                margin-left: em(10);
            }
        }

        &_orbit {
            width: em(160);

            @media (max-width: $tablet) {
                width: em(114);
            }

            @media (max-width: $mobile) {
                width: em(68);
                margin-right: em(8);
            }
        }

        &_beKind {
            width: em(112);

            @media (max-width: $tablet) {
                width: em(80);
            }

            @media (max-width: $mobile) {
                width: em(54);
                margin-right: em(14);
            }
        }
    }

    &__btn-container {
        text-align: center;
    }
}
