.videos {
    padding-top: em(80);
    box-sizing: border-box;

    @media (max-width: $tablet) {
        padding-top: em(48);
    }

    @media (max-width: $mobile) {
        padding-top: em(46);
    }

    &__btn-container {
        text-align: center;
        margin-bottom: em(80);

        @media (max-width: $tablet) {
            margin-bottom: em(41);
        }

        @media (max-width: $mobile) {
            margin-bottom: em(40);
        }
    }

    &__video {
        width: em(1335);
        height: em(751);
        margin: 0 auto;
        display: block;
        margin-bottom: em(80);

        @media (max-width: $tablet) {
            width: em(944);
            height: em(531);
            margin-bottom: em(40);
        }

        @media (max-width: $mobile) {
            width: em(280);
            height: em(157);
            margin-bottom: em(50);
        }
    }
}
