include ../../tools/mixins
html(
    lang="ru"
)
    head
        include head.pug
        block head
    body
        #ozonMars2Top
            block contentTop
        #ozonMars2Bottom
            block contentBottom
