extends components/layout.pug

block contentTop
    include components/sections/banner.pug
    include components/sections/rules.pug
    include components/sections/gifts.pug


   
block contentBottom
    .bottom-wrapper
        include components/sections/videos.pug
        include components/sections/winners.pug

    include components/sections/footer.pug
    